@model Employe
@{
    ViewData["Title"] = "Bonjour Employé";
}

<div>
    <p><a href="mailto:@Model.Email"></a>@Model.Name est @Model.Type et gagne @Model.Salary</p>
</div>

<h2>Custom Tag Helper</h2>

<!-- Utilisation d'un tag helper personalisé dans le dossier Helpers (en pas oublier de rajouter le nom d'emssembly dans _ViewImports) -->
div>
    <employe-info for-name=@Model.Name for-salary=@Model.Salary for-type=@Model.Type for-Email=@Model.Email />
</div>

<!-- Utilisation d'un tag helper personalisé dans le dossier Helpers (en pas oublier de rajouter le nom d'emssembly dans _ViewImports) -->
<div class="mb-3">
    <employe name=@Model.Name salary=@Model.Salary type=@Model.Type email=@Model.Email />
</div>

<h2>Custom HTML Helper</h2>
<!-- Utilisation d'un html helper personnalisé défini dans le dossier Helpers-->
@Html.Employe(@Model.Name, @Model.Salary.ToString(), @Model.Type.ToString(), @Model.Email)